
// TIPOGRAFIAS

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Noto Sans', serif;

.text-montserrat {
    font-family: $font-family-primary;
}

.text-noto {
    font-family: $font-family-secondary;
}

h2  {
  font-family: $font-family-primary;
  font-size: 3rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

// COLORES

$primary: #06C7F2;
$paleta1: #05AFF2;
$paleta2: #0468BF;
$paleta3: #011640;
$paleta4: #0339A6;

$border-color: linear-gradient(131deg, #06C7F2 0%, #023D75 100%) !important;

// .border-gradient {
//    border-color: $border-color !important;
// }

.gradient-primary {
    background: #06C7F2;
    background: linear-gradient(131deg, #06C7F2 0%, #023D75 100%);
}

.gradient-secondary {
    background: #000000;
    background: linear-gradient(#000000 0%, #023D75 100%);
}

.white {
    color: white;
}

.color-primary {
    color: $primary;
}

.color-sec {
    color: $paleta1;
}

.color-terc {
    color: $paleta2;
}

.color-cuart {
    color: $paleta3;
}


.background-black {
  background-color: #000000;
}

.gray {
  background-color: #DCDCDC;
}

.vh-50 {
    height: 50vh;
}

.width-100px {
    width: 100px !important;
}

.w-90 {
  width: 90%;
}

// UTILS

html
body {
    height: 100%;
    overflow-x: hidden;
    max-width: 100vw;
}

a {
  transition: all .25s linear;
}

.datos-contacto-navbar > div > a:hover,
.datos-footer-overlay > div > a:hover {
  color: white;
  transition: all .25s linear;
}

.btn-primary {
    font-family: $font-family-primary;
    color: white;
    background: linear-gradient(to right, $primary, $paleta3);
    transition: all .3s ease;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 1rem;
    border-radius: 0;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);   
    width: fit-content;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
}

.btn-primary a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  opacity: 0;
  transform: translate(-100%);
  transition: all 0.3s ease-in-out 0s;
  filter: blur(0px);
}

.btn-primary:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.015);
  transition: all .3s ease;
  &.btn-primary a:before {
    transform: translate(0);
    opacity: 1;
  }
}

.btn-primary:active{
    color: white;
    background: linear-gradient(to right, $primary, $paleta3);
    
}
.btn-primary:focus{
    color: white;
    background: linear-gradient(to right, $primary, $paleta3);
}

#closeNav,
.navbar {
    z-index: 1000;
}

.navbar {
  background-color: #000000;
}

.datos-contacto-navbar, 
.datos-contacto-navbar > div > a, 
.datos-footer-overlay, 
.datos-footer-overlay > div > a, 
.datos-footer-overlay > p {
  color: #ABB7BB;
}

.datos-footer-overlay > div > img {
  width: 30;
}

.line-footer-overlay {
  background: linear-gradient(to right, #06C7F2 0%, #023D75 100%);
  height: 5px;
}

@keyframes logoScroll {
    to {
      opacity: 1;
}}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem;
}

.navbar-toggler-icon {
    font-size: 2.25rem;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.3s ease;
  }

.overlay-content > a {
    color: white;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    width: fit-content;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
}

.overlay-content > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.overlay-content > a:hover:before{
    opacity: 1;
    transform: scaleX(1);
}

.overlay-content > a:hover {
    color: $primary;
    
}

.hero {
  position: absolute;
  top: 15%;
  padding: 0 5rem;
}

.hero-background {
  background-image: url(images/hero_about_background.png);
  height: 160vh;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.hero-title {
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 67px;
  font-size: 4.5rem;
}

#about {
  position: absolute;
  top: 90%;
}

.main-logo-letters {
  clip-path: inset(0 100% 0 0);
  animation: logo-letters 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s forwards;
    }

@keyframes logo-letters {
  to {
    clip-path: inset(0 0% 0 0);
  }
}

  .main-logo-iso {
    fill-opacity: 0%;
    stroke: url(#paint1_linear_111_274);
    stroke-width: 1.5;
    stroke-dasharray: 625; 
    animation: drawIso 2s ease-in-out forwards;
  }

  @keyframes drawIso {
    to {
      stroke-dasharray: 1343px;
      fill-opacity: 100%;
    }
  }

.about-title {
  color: $primary;
}

.about-container-1 {
  padding: 7rem 5rem;
  // border-right: 10px solid;
  // border-width: 10px !important;
  border-image: 
    linear-gradient(
      to bottom, 
      $paleta3,
      $primary 
      ) 1 100%;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  // border-width: 4px;
  border-image-source: 
    linear-gradient(120deg, $paleta3, $primary, );
}


#mision-vision {
  margin-top: 5rem;
}

.imagen-mision-vision {
  margin-top: -6rem;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.titulos-mision-vision {
  background-image: linear-gradient(90deg, #06C7F2 0%, #023D75 100%);
  background-clip: text;
  display: inline-block;
  color: transparent;
  letter-spacing: 2px;
}

#servicios, #trabajos, #novedades {
  padding: 5rem 3rem;
}

.cards-servicios {
  justify-items: center;
}

.card {
  border-radius: 10px !important;
  transition: all .3s;
  border: none;
}

.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)!important;
  transform: scale(1.03);
  transition: all .3s;
}

.trabajos-section {
  background: linear-gradient(140deg, black 0%, #023D75 100%);
}


// ********* GRID TRABAJOS

.grid-container {
  column-count: 4;
  column-gap: 10px;
  padding: 10px;
}

.grid-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
}

.grid-image:hover {
  transform: scale(1.03);
}

// ******* END GRID TRABAJOS

// ******* CARRUSEL CLIENTES

.carousel-item img {
  max-height: 80px;
  object-fit: contain;
  transition: filter 0.3s;
}


// ******* END CARRUSEL CLIENTES


//************ TABLET

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero-background {
    background-image: url(images/hero_background_mobile_3.png);
    height: 110vh;
  }

  #about {
    position: relative;
    top: 0%;
  }
  .about-container-1 {
    padding: 3rem 3rem;
  }

  .grid-container {
    column-count: 3;
  }

}


//************ MOBILE

@media screen and (max-width: 767.99px) {
    
  .w-xs-90 {
    width: 90% !important;
  }  
       .navbar {
        position: relative;
    }
    
    .navbar-brand {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        padding: 0;
        margin: 0;
        z-index: 1000;
        transition: all .5s;
    }
    
    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: black;
        overflow: hidden;
        transition: 0.3s;
    }
    
    .overlay-content {
        // position: relative;
        // top: 25%;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        text-align: center;
        // margin: 1.5rem auto;
        // font-size: 1.5rem;
    }

    #nav-icon3 {
        width: 48px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 1000;
    }

    .datos-footer-overlay > div > img {
      width: 20;
    }

    .hero {
      position: absolute;
      top: 15%;
      padding: 0;
    }

    .hero > img {
      display: block;
      margin: auto;
    }
    
    .hero-background {
      background-image: url(images/hero_background_mobile_3.png);
      height: 100vh;
    }
    
    .hero-title {
      font-variant: small-caps;
      letter-spacing: 2px;
      line-height: 30px;
      font-size: 2rem;
    }

    #about {
      position: relative;
      top: 0%;
    }
    .about-container-1 {
      padding: 3rem 3rem;
      // border-image: none;
      // border-right: none;
      // border-width: 0;
    }

    .grid-container {
      column-count: 2;
    }

    #servicios, #trabajos, #novedades {
      padding: 5rem 1rem;
    }

}




    


