.text-montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-noto {
  font-family: "Noto Sans", serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.gradient-primary {
  background: #06C7F2;
  background: linear-gradient(131deg, #06C7F2 0%, #023D75 100%);
}

.gradient-secondary {
  background: #000000;
  background: linear-gradient(#000000 0%, #023D75 100%);
}

.white {
  color: white;
}

.color-primary {
  color: #06C7F2;
}

.color-sec {
  color: #05AFF2;
}

.color-terc {
  color: #0468BF;
}

.color-cuart {
  color: #011640;
}

.background-black {
  background-color: #000000;
}

.gray {
  background-color: #DCDCDC;
}

.vh-50 {
  height: 50vh;
}

.width-100px {
  width: 100px !important;
}

.w-90 {
  width: 90%;
}

html body {
  height: 100%;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  transition: all 0.25s linear;
}

.datos-contacto-navbar > div > a:hover,
.datos-footer-overlay > div > a:hover,
.textos-footer:hover {
  color: white;
  transition: all 0.25s linear;
}

.btn-primary {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: linear-gradient(to right, #06C7F2, #011640);
  transition: all 0.3s ease;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 0;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
}

.btn-primary a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  opacity: 0;
  transform: translate(-100%);
  transition: all 0.3s ease-in-out 0s;
  filter: blur(0px);
}

.btn-primary:hover {
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.015);
  transition: all 0.3s ease;
}
.btn-primary:hover.btn-primary a:before {
  transform: translate(0);
  opacity: 1;
}

.btn-primary:active {
  color: white;
  background: linear-gradient(to right, #06C7F2, #011640);
}

.btn-primary:focus {
  color: white;
  background: linear-gradient(to right, #06C7F2, #011640);
}

#closeNav,
.navbar {
  z-index: 1000;
}

.navbar {
  background-color: #000000;
}

.datos-contacto-navbar,
.datos-contacto-navbar > div > a,
.datos-footer-overlay,
.datos-footer-overlay > div > a,
.datos-footer-overlay > p,
.textos-footer {
  color: #ABB7BB;
  transition: all 0.25s linear;
}

.datos-footer-overlay > div > img {
  width: 30;
}

.line-footer-overlay {
  background: linear-gradient(to right, #06C7F2 0%, #023D75 100%);
  height: 5px;
}

@keyframes logoScroll {
  to {
    opacity: 1;
  }
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem;
}

.navbar-toggler-icon {
  font-size: 2.25rem;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  transition: 0.3s ease;
}

.overlay-content > a {
  color: white;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
}

.overlay-content > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #06C7F2;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.overlay-content > a:hover:before {
  opacity: 1;
  transform: scaleX(1);
}

.overlay-content > a:hover {
  color: #06C7F2;
}

.hero {
  position: absolute;
  top: 15%;
  padding: 0 5rem;
}

.hero-background {
  background-image: url(images/hero_about_background.png);
  height: 160vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.hero-background-legal {
  background-image: url(images/header_background_legal_sm.png);
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 67px;
  font-size: 4.5rem;
}

#about {
  position: absolute;
  top: 90%;
}

.main-logo-letters {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  animation: logo-letters 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s forwards;
}

@keyframes logo-letters {
  to {
    -webkit-clip-path: inset(0 0% 0 0);
            clip-path: inset(0 0% 0 0);
  }
}
.main-logo-iso {
  fill-opacity: 0%;
  stroke: url(#paint1_linear_111_274);
  stroke-width: 1.5;
  stroke-dasharray: 625;
  animation: drawIso 2s ease-in-out forwards;
}

@keyframes drawIso {
  to {
    stroke-dasharray: 1343px;
    fill-opacity: 100%;
  }
}
.about-title {
  color: #06C7F2;
}

.about-container-1 {
  padding: 7rem 5rem;
  -o-border-image: linear-gradient(to bottom, #011640, #06C7F2) 1 100%;
     border-image: linear-gradient(to bottom, #011640, #06C7F2) 1 100%;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(120deg, #011640, #06C7F2);
}

#mision-vision {
  margin-top: 5rem;
}

.imagen-mision-vision {
  margin-top: -6rem;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.titulos-mision-vision {
  background-image: linear-gradient(90deg, #06C7F2 0%, #023D75 100%);
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
  color: transparent;
  letter-spacing: 2px;
}

#servicios, #trabajos, #novedades, #contacto {
  padding: 5rem 3rem;
}

.cards-servicios {
  justify-items: center;
}

.card {
  border-radius: 10px !important;
  transition: all 0.3s;
  border: none;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.03);
  transition: all 0.3s;
}

.trabajos-section {
  background: linear-gradient(140deg, black 0%, #023D75 100%);
}

.grid-container {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px;
}

.grid-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
}

.grid-image:hover {
  transform: scale(1.03);
}

.carousel-item img {
  max-height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: filter 0.3s;
}

input, textarea {
  border: none !important;
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.15);
  padding: 1rem !important;
}

.footer {
  background-image: url(images/footer_background.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.links-footer {
  color: #05AFF2;
  transition: all 0.25s linear;
}

.links-footer:hover {
  color: #0468BF;
  transition: all 0.25s linear;
}

.copyright {
  bottom: 5%;
  color: gray;
}

form > div {
  width: 75%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero-background {
    background-image: url(images/hero_background_mobile_3.png);
    height: 110vh;
  }
  #about {
    position: relative;
    top: 0%;
  }
  .about-container-1 {
    padding: 3rem 3rem;
  }
  .grid-container {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media screen and (max-width: 767.99px) {
  .w-xs-90 {
    width: 90% !important;
  }
  .navbar {
    position: relative;
  }
  .navbar-brand {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    transition: all 0.5s;
  }
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.3s;
  }
  .overlay-content {
    width: 100%;
    text-align: center;
  }
  .nav-link {
    text-align: center;
  }
  #nav-icon3 {
    width: 48px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  .datos-footer-overlay > div > img {
    width: 20;
  }
  .hero {
    position: absolute;
    top: 15%;
    padding: 0;
  }
  .hero > img {
    display: block;
    margin: auto;
  }
  .hero-background {
    background-image: url(images/hero_background_mobile_3.png);
    height: 100vh;
  }
  .hero-title {
    font-variant: small-caps;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 2rem;
  }
  #about {
    position: relative;
    top: 0%;
  }
  .about-container-1 {
    padding: 3rem 1rem;
  }
  .grid-container {
    -moz-column-count: 2;
         column-count: 2;
  }
  #servicios, #trabajos, #novedades, #contacto {
    padding: 5rem 1rem;
  }
  form > div {
    width: 90%;
  }
  .hero-background-legal {
    height: 60vh;
  }
}/*# sourceMappingURL=styles.css.map */